# Top-level docs and config
include README.md
include LICENSE
include pyproject.toml

# LAMMPS fix files and installer docs/scripts
recursive-include src/maxwelllink/mxl_drivers/lammps *.cpp *.h *.md *.sh

# (Optional) include examples 
# recursive-include examples *

# (Optional) exclude build artifacts
global-exclude *.pyc *.pyo *.pyd __pycache__ .DS_Store
